*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  background-color: aqua;
  &_wrap{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    align-items: center;

     .navbar_logo{
      border-radius: 50%;
    }
    .navbar_list{
      display: flex;
      gap: 20px;
      list-style: none;
      text-transform: uppercase;
      cursor: pointer;
    }
    .navbar_buttons{
      display: flex;
      gap: 20px;

      &_btn{
        padding: 8px 16px;
        border-radius: 10%;
        border: none;
        color: wheat;
      }
    }
  }

}

//card

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  gap: 20px;

  margin: 50px auto;
}